@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap');

:root {
    /* primary colors */
    --cyan: hsl(171, 66%, 44%);
    --blue: hsl(233, 100%, 69%);
    /* neutral colors */ 
    --darkGrayishBlue: hsl(210, 10%, 33%);
    --grayishBlue: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    font-size: 18px;
    text-align: center;
    color: var(--darkGrayishBlue);
}

p {
    color: var(--grayishBlue);
    line-height: 1.5;
}

header {
    background-image: url('./images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0 20px;
}

img {
    max-width: 100%;
}

.container {
    margin: 30px auto;
    max-width: 100%;
    width: 1200px;
    padding: 0 20px;
}

.container-small {
    width: 600px;
}

section {
    padding: 30px 0;
}

.m4 {
    margin: 100px auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex > * {
    flex: 1;
    padding: 30px;
}

.container-aside {
    margin: 120px 0;
}

.aside-image {
    transform: scale(1.4) translateX(-15%);
}

.aside-text {
    text-align: left;
}

.btn {
    font-family: 'Bai Jamjuree', sans-serif;
    border-radius: 50px;
    color: #fff;
    padding: 12px 26px;
    margin: 15px 5px;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    border: none;
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 0.75;
}

.btn-green {
    background-color: var(--cyan);
    box-shadow: 0px 6px 15px hsl(172, 40%, 72%);
}

.btn-blue {
    background-color: var(--blue);
    box-shadow: 0px 6px 15px hsl(233, 100%, 86%);
}

footer {
    background-color: hsl(0, 0%, 93%);
}

footer .container {
    padding: 10px 0;
    margin-bottom: 0;
}

footer img {
    width: 60px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
}

footer ul a {
    color: var(--darkGrayishBlue);
    text-decoration: none;
}

footer .links {
    flex: 3;
}

footer .links li {
    padding: 10px;
    margin-right: 40px;
}

footer .social li {
    margin: 0 5px;
}

footer .social a {
    font-size: 24px;
    margin-right: 5px;
}

footer ul li a:hover {
    color: var(--cyan);
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .container-aside {
        margin: 0;
    }
    
    .aside-image {
        transform: scale(1) translateX(0);
    }

    .aside-text {
        text-align: center;
    }

    footer .links {
        flex-direction: column;
    }

    footer .links li {
        margin-right: 0;
    }
}


/* attribution styles */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}