@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap');

:root {
    /* primary colors */
    --cyan: hsl(171, 66%, 44%);
    --blue: hsl(233, 100%, 69%);
    /* neutral colors */ 
    --darkGrayishBlue: hsl(210, 10%, 33%);
    --grayishBlue: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0 auto;
    font-size: 18px;
}

.container {
    min-height: 100vh;
    text-align: center;
}

header {
    background-image: url('./images/bg-header-desktop.png');
    background-size: cover;
}

.header-logo {
    margin-top: 6rem;
    height: 100px;
    width: 100px;
}

.content-intro {
    color: var(--darkGrayishBlue);
    margin-top: 3rem;
}

.content-headline {
    color: var(--darkGrayishBlue);
}

.content-subhead {
    color: var(--darkGrayishBlue);
    font-size: 16px;
}

.content-text {
    font-size: 1rem;
    color: var(--grayishBlue);
    margin: 30px;
    line-height: 1.5rem;
}

.content-text-aside {
    color: var(--grayishBlue);
    font-size: 14px;
    line-height: 1.5rem;
}

.btn-container {
    margin: 20px 0 60px 0;
}

.btn {
    color: #fff;
    padding: 12px 26px;
    border-radius: 50px;
    margin: 10px 5px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
    outline: none;
    border: none;
}

.btn:hover {
    opacity: 0.75;
}

.btn-green {
    background-color: var(--cyan);
    box-shadow: 0px 6px 15px hsl(172, 40%, 72%);
}

.btn-blue {
    background-color: var(--blue);
    box-shadow: 0px 6px 15px hsl(233, 100%, 86%);
}

.section {
    margin: 8rem 0 4rem 0;
}

.section--aside {
    display: flex;
    padding: 3rem 0;
}

.tips {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 6rem 8rem;
    justify-content: flex-end;
    text-align: left;
}

.details {
    padding-bottom: 4rem;
}

.image {
    justify-content: center;
    align-items: center;
}

.details--tips {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

/* .content-text-tips {
    width: 75%;
} */


.companies {
    display: flex;
    margin: 8rem 0;
    justify-content: space-evenly;
}

footer {
    background-color: #eeeeee;
    padding: 20px;
}

.container-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer--logo img {
    height: 50px;
    width: 50px;
}

.footer--about {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.footer--about li {
    padding: 0 10px;
    color: var(--grayishBlue);
}

.footer--about li:hover {
    color: var(--cyan);
}

.footer--social a:hover {
    fill: var(--cyan);
}

.social--icon {
    cursor: pointer;
    padding: 0 8px;
}

/* footer styles
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
} */