@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap');

:root {
    /* primary colors */
    --cyan: hsl(171, 66%, 44%);
    --blue: hsl(233, 100%, 69%);
    /* neutral colors */ 
    --darkGrayishBlue: hsl(210, 10%, 33%);
    --grayishBlue: hsl(201, 11%, 66%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: var(--darkGrayishBlue);
}

header {
    background-image: url('./images/bg-header-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
}

.container-small {
    width: 700px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex > * {
    flex: 1;
}

.btn-container {
    margin: 20px 0 60px 0;
}

.btn {
    color: #fff;
    padding: 12px 26px;
    border-radius: 50px;
    margin: 10px 5px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
    outline: none;
    border: none;
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 0.75;
}

.btn-green {
    background-color: var(--cyan);
    box-shadow: 0px 6px 15px hsl(172, 40%, 72%);
}

.btn-blue {
    background-color: var(--blue);
    box-shadow: 0px 6px 15px hsl(233, 100%, 86%);
}


/* attribution styles */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}